[*.cs]

indent_style = space
indent_size = 4

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1000: Do not declare static members on generic types
dotnet_diagnostic.CA1000.severity = none

# IDE0160: Convert to block scoped namespace
dotnet_diagnostic.IDE0160.severity = none

# IDE0008: Use explicit type instead of 'var'
dotnet_diagnostic.IDE0008.severity = none

# IDE0022: Use block body for method
dotnet_diagnostic.IDE0022.severity = none

# S125: Remove this commented out code
dotnet_diagnostic.S125.severity = none

# S2696: Instance members should not write to "static" fields
dotnet_diagnostic.S2696.severity = none

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning

# SA1512: Single-line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = none

# S907: "goto" statement should not be used
dotnet_diagnostic.S907.severity = none

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider adding the 'required' modifier or declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = warning

# IDE0300: Simplify collection initialization
dotnet_diagnostic.IDE0300.severity = warning

# SA1005: Single line comments should begin with single space
dotnet_diagnostic.SA1005.severity = none

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# S101: Types should be named in PascalCase
dotnet_diagnostic.S101.severity = none

# S1244: Floating point numbers should not be tested for equality
dotnet_diagnostic.S1244.severity = none

# CA1001: Types that own disposable fields should be disposable
dotnet_diagnostic.CA1001.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none

# S3903: Types should be defined in named namespaces
dotnet_diagnostic.S3903.severity = none

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = none

# S2223: Non-constant static fields should not be visible
dotnet_diagnostic.S2223.severity = none

# S1104: Fields should not have public accessibility
dotnet_diagnostic.S1104.severity = none

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# CS0108: Member hides inherited member; missing new keyword
dotnet_diagnostic.CS0108.severity = none